<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.4/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         cacheTokens="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         printerClass="PHPUnit\TextUI\ResultPrinter"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         testSuiteLoaderClass="PHPUnit\Runner\StandardTestSuiteLoader"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60"
         verbose="false">
  <php>
    <const name="APPLICATION_PATH"       value="tests"/>
    <env name="PRIN_PLATFORM_CLASS"      value="Princeton\App\Platform\PrincetonPlatform"/>
    <env name="PRIN_CACHE_CLASS"         value="Doctrine\Common\Cache\ApcuCache"/>
    <env name="PRIN_CONFIG_CLASS"        value="Test\TestConfiguration"/>
  </php>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
  <testsuites>
    <testsuite name="adapter">
      <directory>tests/Adapter</directory>
    </testsuite>
    <testsuite name="auth">
      <directory>tests/Authentication</directory>
      <directory>tests/Authorization</directory>
    </testsuite>
    <testsuite name="cache">
      <directory>tests/Cache</directory>
    </testsuite>
    <testsuite name="cal">
      <directory>tests/CalendarAPI</directory>
      <directory>tests/ExchangeAPI</directory>
      <directory>tests/GoogleAPI</directory>
    </testsuite>
    <testsuite name="config">
      <directory>tests/Config</directory>
    </testsuite>
    <testsuite name="data">
      <directory>tests/DataModel</directory>
    </testsuite>
    <testsuite name="ex">
      <directory>tests/Exceptions</directory>
    </testsuite>
    <testsuite name="formatter">
      <directory>tests/Formatter</directory>
    </testsuite>
    <testsuite name="injection">
      <directory>tests/Injection</directory>
    </testsuite>
    <testsuite name="platform">
      <directory>tests/Platform</directory>
    </testsuite>
    <testsuite name="reports">
      <directory>tests/Reports</directory>
    </testsuite>
    <testsuite name="sched">
      <directory>tests/Scheduler</directory>
    </testsuite>
    <testsuite name="slim">
      <directory>tests/Slim</directory>
    </testsuite>
    <testsuite name="strings">
      <directory>tests/Strings</directory>
    </testsuite>
    <testsuite name="traits">
      <directory>tests/Traits</directory>
    </testsuite>
    <testsuite name="misc">
      <file>tests/CSPTest.php</file>
      <file>tests/HttpStatusCodeTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
